<!-- Team Section -->
<div id="team" class="section">
  <div class="fixed-wrapper"><h1>Filmes</h1></div>
  <div class="container">

    <div class="content">
      <div class="row">
        <% @filmes.each do |filme| %>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="team-portrait block">              
            <div class="title">
              <h2><%= filme["title_long"] %></h2>
            </div>
            <div class="portrait">
              <a href="#">
                <%= image_tag(filme["medium_cover_image"], alt: "Team Portrait") %>            
                <span class="overlay"><span class="valign"></span><i class="icon-envelope"></i></span>                    
              </a>
            </div>
            <p><%= filme["title"] %> - <%= "#{filme["runtime"]}mim" %></p>
            <div class="social-media">
              <a href="#" data-toggle="tooltip" title="twitter"><i class="icon-twitter"></i></a>
              <a href="#" data-toggle="tooltip" title="facebook"><i class="icon-facebook"></i></a>
              <a href="#" data-toggle="tooltip" title="linkedin"><i class="icon-linkedin"></i></a>
              <a href="#" data-toggle="tooltip" title="github"><i class="icon-github"></i></a>
              <a href="#" data-toggle="tooltip" title="pinterest"><i class="icon-pinterest"></i></a>
              <span class="stretch"></span>
            </div>
          </div>
        </div>
        <% end %>
      </div>          
    </div>
  </div>
</div><!-- /.container -->